<div class="jumbotron text-center">
	<h3>Serial Diners Agenda: {{ title }}</h3>
</div>
<div class="container">
	
	<div class="row">
		<div class="col-sm-4 text-left"><button (click)="onPrevious()">&lt;&lt;</button></div>
		<div class="col-sm-4 text-center">{{ date }}</div>
		<div class="col-sm-4 text-right"><button (click)="onNext()">&gt;&gt;</button></div>
	</div>
	<div class="row">
		<div class="col-sm-12">&nbsp;</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12 text-center">{{ notice }}</div>
	</div>
	<div class="row"><div class="col-sm-12">&nbsp;</div></div>
	
	<div class="row">
		<div class="col-sm-2 text-right">Restaurant:</div>
		<div class="col-sm-10">{{ name }}</div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10 text-right"><i>{{ ed_note }}</i></div>
	</div>
	<div class="row"><div class="col-sm-12">&nbsp;</div></div>
	<div class="row">
		<div class="col-sm-2 text-right">Address:</div>
		<div class="col-sm-10">
			<a target="_map" href="https://www.google.ca/maps/search/{{ address }},+Toronto,+ON">{{ address }}</a>
		</div>
	</div>
	<div class="row"><div class="col-sm-12">&nbsp;</div></div>
	<div class="row">
		<div class="col-sm-2 text-right">Directions:</div>
		<div class="col-sm-10">({{ directions }})</div>
	</div>
	<div class="row"><div class="col-sm-12">&nbsp;</div></div>
	<div class="row">
		<div class="col-sm-2 text-right">Phone</div>
		<div class="col-sm-10"><a href="tel:{{ phone }}">{{ phone }}</a></div>
	</div>
</div>
